html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

body {
    
    font-family: Arial, sans-serif;
    background-image: url("taustaa.png");
    background-size: cover;
    background-position: center;  /* keskitä kuva */
    background-repeat: no-repeat; /* estää toistumisen */
}

#bee {
    width: 230px;
    height: 230px;

    background-image: url("beee.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    transition: left 0.8s ease, top 0.8s ease;
}

.angry {
    background: red !important;
    border-color: darkred !important;
    animation: shake 0.3s infinite;
}

@keyframes shake {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(3px, -px); }
    50% { transform: translate(-3px, 3px); }
    75% { transform: translate(3px, 3px); }
    100% { transform: translate(-3px, -3px); }
}